.Root {
  display: flex;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding: 80px 40px 40px;
  overflow: hidden;
}

@media (width <= 1023px) {
  .Root {
    padding: 37px 20px 40px;
  }
}


.HideScroll {
  overflow-y: auto;
}